backend:
  name: git-gateway
  branch: main

local_backend: true

media_folder: public/uploads
public_folder: /uploads

collections:
  - name: blog
    label: Blog Posts
    folder: content/blog
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Category", name: "category", widget: "select", options: ["knowledge-hub", "news", "blog-article", "study"] }
      - { label: "Featured Image", name: "imageUrl", widget: "image", required: false }
      - { label: "Excerpt", name: "excerpt", widget: "text" }
      - { label: "Reading Time", name: "readingTime", widget: "string", default: "5 min" }
      - { label: "Body", name: "body", widget: "markdown" }
